*{
    margin: 0;
    padding: 0;

}

.MAIN{
    width: 100%;
    background: linear-gradient(TO TOP,RGBA(0,0,0,0.5)50%, RGBA(0,0,0,0.5)50%),url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}